<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script type="text/javascript">(function(){window['_surfly_settings']=window['_surfly_settings']||{
widgetkey:"b84defc4621441ecae5eb10bdec1cb5a",
autohide_button: false,
};
var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src="https://surfly.com/static/js/widget.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n); })();</script>

</head>

<body>

        <script>
	var s_id;
	// get session ID
  	var request = new XMLHttpRequest();
  	request.open('GET', 'https://api.surfly.com/v2/sessions/?api_key=ec006650588b4726ac397ab5e56c033a&active_session=true');
  	request.onreadystatechange = function () {
    	if (this.readyState === 4) {
      		if(window.__surfly){
        		var body = this.responseText;
        		var index = body.indexOf("session_id");
        		var index_end = body.indexOf("agent_id");
        		var id = body.substring(index+14, index_end-3);
			console.log("body1 ", body);
                        console.log("the session id should be ", id);

			s_id = id;
			//sessionStorage.setItem("id", id);
     	 	}
    	   }
  	};
  	request.send();	

	console.log("s_id :" + window.s_id);

	if(window.__surfly){
		var request = new XMLHttpRequest();

		request.open('GET', 'https://api.surfly.com/v2/sessions/'+s_id+'/?api_key=ec006650588b4726ac397ab5e56c033a');

		request.onreadystatechange = function () {
		  if (this.readyState === 4) {
		    if(window.__surfly){
		       var body = this.responseText;
		       var index = body.indexOf("viewer_link");
		       var index_end = body.indexOf("start_time");
		       var followerLink = body.substring(index+13, index_end-3);
		       console.log("the follower link is ", followerLink);
		       console.log("the body is ", body);

		       sessionStorage.setItem("follower_link", followerLink);
		    }
		  }
		};

		request.send();
	}

        // get the page url
        var pageUrl = document.location.href;
        var pageIndex = pageUrl.indexOf("https");
        var pageEnd = pageUrl.indexOf("first_frame");

	if(s_id!==""){
		// store the page url
		var fullPageUrl = pageUrl.substring(pageIndex, pageEnd-1);
		// append the page url to the session id
		var res = fullPageUrl.concat('/splitscreen/', window.s_id);
		// check that we have what we want 
		 console.log('the link you need to open is :', res);
		// console.log('the origin Url is: ', sessionStorage.getItem("originUrl"));
	}

</script>

</body>
</html> 
