
<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>

var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a'};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      if(!Surfly.currentSession){
      Surfly.session()
      .on('session_created', function(session) {
         session.sendMessage({foo: 'bar'}, '*');
      }).create();
     }
    }
   });
 });

</script>

<style>
.box{
    width:50%;
    float:left;
    
}
</style>


</head>

<body>

<div class="box"><iframe id="ifrm1" src="./second_frame" height="512" width="100%" ></iframe></div>
<div class="box"><iframe id="ifrm2" src="./third_frame" height="512" width="100%" name="i2"></iframe></div>

<div id="testLink"><p>hello</p></div>

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var iframe = document.getElementById('ifrm1');
iframe = iframe.contentWindow ? 
         iframe.contentWindow : 
         (
             iframe.contentDocument.document ?
             iframe.contentDocument.document : 
             iframe.contentDocument
         );
iframe.document.open();
iframe.document.write('hello!');
iframe.document.close();
</script>

<script>
document.getElementById('myFrame').contentWindow.myFunction();
</script>

<script>
// the old code for opening the follower link in the first iframe on this page

var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a', block_until_agent_joins: false};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
       // get the current url
       pageUrl  = document.location.href
       // check what we have 
       // console.log("the page url is: ", pageUrl);
       // set the index at the end of the url
       var idIndex = pageUrl.indexOf("screen");
       // extract the session ID
       var sessionID = pageUrl.substring(idIndex+6);
       // console.log("the session id is: ", sessionID);
       // retrieve the origin url - find out why this doesnt work
       // console.log("the original url is: ", sessionStorage.getItem('originUrl'));
       // append the id to the origin
       var fullUrl =  "https://surfly-s1.com".concat(sessionID);
       localStorage.setItem("firstFollower", fullUrl);
       // set the url of the frame to the leader link
       // document.getElementById('ifrm1').src = fullUrl;
      }
   });
 });

</script>

<script>

// Here "addEventListener" is for standards-compliant web browsers and "attachEvent" is for IE Browsers.
var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
var eventer = window[eventMethod];
var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
// Listen to message from child IFrame window
eventer(messageEvent, function (e) {
   var stringData = JSON.stringify(e.data);
  // console.log("the stringData that was sent to the back was", stringData);
   if (typeof e.data === 'string') { 
     // we use a regex to match the follower link and extract it from the data 
     if (e.data.match(/[0-9]{3}[-][0-9]{3}[-][0-9]{3}/) != null) {
       // localStorage.setItem('followerLink', e.data);
       console.log("the retrieved message from the third frame is ", e.data);
       var linkF = e.data;
       // append the link as text into a div
       // var textLinkF = document.createTextNode(linkF);     
       var createDiv = document.getElementById('testLink');
       createDiv.innerHTML = createDiv.innerHTML + linkF;
       localStorage.setItem("theFollowerLink", linkF);
     }
   }
 }, false);



//var firstFrame = document.getElementById('ifrm1').contentWindow;
var firstFrame = 
firstFrame.postMessage('hello', '*');

console.log("the domain of the about page is ", document.domain);
</script>

<script>
  // function listener(event) {
  //    console.log('the event recieved from the third frame by the function listener is ', event.data);
  //    console.log('the source of the events as picked up by the function listener is ', event.source);
  // }
  // window.addEventListener("message", listener, false)
</script>


</html>
