<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>


<style>
.box{
    width:50%;
    float:left;
    
}
</style>


</head>

<body>

<div class="box"><iframe id="ifrm2" src="" height="512" width="100%"></iframe></div>
<div class="box"><iframe id="ifrm3" src="./third_frame" height="512" width="100%" name="i2"></iframe></div>


<script>


       // get the current url
      // pageUrl  = document.location.href;
       // check what we have 
       // console.log("the page url is: ", pageUrl);
       // set the index at the end of the url
       //var idIndex = pageUrl.indexOf("screen");
       // extract the session ID
       //var sessionID = localStorage.getItem('session_id');
       //console.log("is session storage working? ", sessionID);
       // console.log("the session id is: ", sessionID);
       // retrieve the origin url - find out why this doesnt work
       // console.log("the original url is: ", sessionStorage.getItem('originUrl'));
       // append the id to the origin
       //var fullUrl =  "https://surfly-s1.com/".concat(sessionID);
       // set the url of the frame to the leader link
       // document.getElementById('ifrm2').src = fullUrl;

</script>

<script>
// Here "addEventListener" is for standards-compliant web browsers and "attachEvent" is for IE Browsers.

var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
var eventer = window[eventMethod];
var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

// Listen to message from child IFrame window

eventer(messageEvent, function (e) {
   var stringData = JSON.stringify(e.data);
   if (typeof e.data === 'string') { 
     if (e.data.match(/[0-9]{3}[-][0-9]{3}[-][0-9]{3}/) != null) {
        sessionStorage.setItem('followerLink', e.data);
     }
   }
}, false);

//var firstFrame = document.getElementById('ifrm2').contentWindow;
//firstFrame.postMessage('hello', '*');
//console.log('message sent');


</script>

<script>
   function listener(event) {
     console.log(event.data);
     console.log(event.source);
  }
  window.top.addEventListener("message", listener, false)
</script>


</html>

