<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>

var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a'};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
       //Surfly.currentSession.sendMessage({foo: localStorage.getItem("theFollowerLink")}, '*');
       Surfly.session(null, localStorage.getItem('firstFollower').startFollower().sendMessage({foo: localStorage.getItem("theFollowerLink")}, '*');;
    }
   });
 });

</script>

</head>
<body>

<script>
   function listener(event) {
      console.log('the event recieved by the second page is ', event.data);
      console.log('the source recieved by the second page is ', event.source);
   }
   window.addEventListener("message", listener, false)
</script>

<script>
   console.log("the content of the div from the parent window is ", parent.document.getElementById('testLink'));
   console.log("the location of the second page is", window.location.href);
   console.log("the domain of the second frame is ", document.domain);
   console.log("the parent of the second frame is ", parent.document);
   console.log("cheeseface is ", localStorage.getItem("theFollowerLink"));
</script>

</body>
</html>

