<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello</title>

<style>
.box{
    width:50%;
    float:left;
    
}
</style>

</head>

<body>

<div class="box"><iframe id="ifrm1" src="./first_frame" height="512" width="100%"></iframe></div>
<div class="box"><iframe id="ifrm2" src="./fourth_frame" height="512" width="100%"></iframe></div>

<script>
console.log("the stored session data is ", sessionStorage.getItem('followerLink'));
</script>

<script>
var request = new XMLHttpRequest();

request.open('DELETE', 'https://api.surfly.com/v2/sessions/fLes8raokR6uvA4Rs3OIHeg/?api_key=ec006650588b4726ac397ab5e56c033a');

request.onreadystatechange = function () {
  if (this.readyState === 4) {
    console.log('Status:', this.status);
    console.log('Headers:', this.getAllResponseHeaders());
    console.log('Body:', this.responseText);
  }
};

request.send();
</script>

</body>

</html>
