<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello</title>

<style>
.box{
    width:50%;
    float:left;
    
}
</style>

</head>

<body>

<div class="box"><iframe id="ifrm1" src="./first_frame" height="512" width="100%"></iframe></div>
<div class="box"><iframe id="ifrm2" src="" height="512" width="100%" style="background: #000000;"></iframe></div>


<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a'};
var ifrm1_url = document.getElementById("ifrm1").src
console.log("iframeurl", ifrm1_url);
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
     }
  });
});

</script>

<!-- pass the variable to the converter -->

<script>
// var session_id = sessionStorage.getItem('')
// console.log("the session id is: ", saveUrl)
</script>

</body>

</html>
