<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hello</title>

<style>
.box{
    width:50%;
    float:left;
    
}
</style>

</head>

<body>

<div class="box"><iframe id="ifrm1" src="./first_frame" height="512" width="100%"></iframe></div>
<div class="box"><iframe id="ifrm2" src="./fourth_frame" height="512" width="100%"></iframe></div>

<script>
console.log("the stored session data is ", sessionStorage.getItem("fl"));
</script>


</body>

</html>
