<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://x.zok.pw/new-widget-s1.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>
var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a'};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      var session = Surfly.session({block_until_agent_joins: false}).on('session_started', function(session) {
        //var retrievedLink = session.followerLink;
        //window.parent.postMessage(retrievedLink, "*");
        console.log("follower link ", session.followerLink);
        var followerLink = session.followerLink
        localStorage.setItem('followerLink', session.followerLink);
     }).startLeader();
     Surfly.session({url:'https://infinite-thicket-74820.herokuapp.com/fourth_frame'}, localStorage.getItem('followerLink'))
        .startFollower(null, {}); 
    }
   });
 });
</script>

</head>

<body>

<p> hello! </p>


</body>
</html>
