<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script>
(function(s,u,r,f,l,y){s[f]=s[f]||{init:function(){s[f].q=arguments}};
l=u.createElement(r);y=u.getElementsByTagName(r)[0];l.async=1;
l.src='https://surfly-s1.com/surfly.js';y.parentNode.insertBefore(l,y);})
(window,document,'script','Surfly');
</script>

<script>

getLink();


function getLink() {
var settings = {widgetkey:'b84defc4621441ecae5eb10bdec1cb5a'};
window.addEventListener('DOMContentLoaded', function() {
  Surfly.init(settings, function(init) {
    if (init.success) {
      var session = Surfly.session({block_until_agent_joins: false}).on('session_started', function(session) {
        retrievedLink = session.followerLink;
        console.log("the type of the retrieved link is ", typeof retrievedLink);
        window.parent.postMessage(retrievedLink, "*");
        //console.log("follower link ", session.followerLink);
        //var followerLink = session.followerLink
        //localStorage.setItem('followerLink', session.followerLink);
     }).startLeader(); 
    }
   });
 });
 
}

// if (retrievedLink != null) {
//  window.parent.postMessage(retrievedLink, "*");
// } else {
//  console.log("the link was null");
// }

</script>

</head>

<body>

<p> hello! </p>


</body>
</html>
